gunicorn==19.7.1
Flask==0.12.2
Flask-Sockets==0.2.1
Flask-RESTful==0.3.6
Flask-Cors==3.0.3
celery==4.1.0
docker==2.5.1
docker-pycreds==0.2.1
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.34
PyYAML==3.12
docker-compose==1.15.0
IPy==0.75
bunch==1.0.1